.container{
    position:absolute;
    left: 500px;
    width: 500px;
    border-style: groove;
    background-color:antiquewhite;    
    text-align: center;
}

.head{
    color: orangered;
    font-family: fantasy;
}